body { font-family: Arial, sans-serif; }
/*header*/
.logo img{
 max-width: 50%;}
.navbar { display: flex; justify-content: space-between; align-items: center; background-color: greenyellow; padding: 0px; }
.navbar a { text-decoration: none; color:white ; margin-right: 170px; }
.navbar{
 background-color: #e12023;}


.image_fond img {
max-width: 100%;
 height: auto;
}


/*footer */
.footer { text-align: center; padding: 10px 0; background-color: #dd201e; }